ul{
  width:100%;
  overflow: auto;
  text-align:center;
}
.mdl-card {
    display:inline-block;
    display:inline; /*IE7*/
    zoom:1; /*IE7*/
    text-align: left;
    vertical-align: top;
}

.mdl-textfield__input, .mdl-textfield__label{
  color:#fff;
  border-color:#fff;
}
